.date-icon-median{
    font-size: clamp(.3rem,.5rem + .5vw,.8rem);
    display: flex;
    align-items: center;
    gap: .2rem;
    margin-bottom: .2rem;
    max-width: max-content;
    span:nth-child(2){
        height: .3rem;
        width: .3rem;
        border-radius: 50%;
        background: #e1e1e1;
    }

}

.skeleton-width-height{
    min-width: 100%;
    min-height: 100%;
}
.page-number-section{
    margin: 2rem auto;
    max-width: 40rem;

    .page-number-container{
        display: grid;
        grid-auto-flow: column;
        place-content: center;
        gap: .5rem;
        grid-auto-columns: minmax(.5rem,auto);

        .page-number{
            text-align: center;
            cursor: pointer;
            padding: .5rem;
            aspect-ratio: 1/1;
            border-radius: 50%;
            transition: color 200ms ease-in-out;
        }
    }
}

