$main-bg :#0b0b0b;
$header-bg:#ff4500;
$icon-bg:#2c2c2cb9;
.header-container{
    display: grid;
    place-content: center;
    min-width: 100%;
    background-color: $main-bg;
    height: 100dvh;
    position: sticky;
    bottom: 0;
    top: 0;
    z-index: 10;

    .nav-container{
    color:$icon-bg ;
    flex: none;
    justify-content: space-around;
    border-radius: .5rem;
    height: 40rem;
    background-color: $header-bg;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    margin: 0 2rem;
}
@media (width < 662px) {
    height: max-content;
    place-content: unset;
    .nav-container{
        height: 0;
        align-items: center;
        padding: 1.5rem;
        flex-direction: row;
        margin:  auto;
        min-width: 100%;
        border-radius: 0;
    }
}
@media (width < 1000px) and (orientation:landscape){
        height: max-content;
    place-content: unset;
    .nav-container{
        height: 0;
        align-items: center;
        padding: 1.5rem;
        flex-direction: row;
        margin:  auto;
        min-width: 100%;
        border-radius: 0;
    }
}

}

.nav-lists{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.5rem;
    flex-direction: column;
    transition: color 200ms ease-in-out;
    li:hover{
        color:$main-bg;
    }
    li:has(img){
        max-height: 2.6rem ;
        border-radius: 50%;
        overflow: hidden;
        border: .2rem solid $icon-bg;
        max-width:2.6rem;
        transition: border ease-in-out 200ms;
        &:hover{
            border: .2rem solid $main-bg;
        }
        img{
            min-width:100%;
            min-height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    @media (width < 662px) {
        flex-direction: row;
        gap: .5rem;
        
    }
    @media (width < 1000px) and (orientation:landscape){
                flex-direction: row;
        gap: .5rem;
    }
}

