.from-error-container{
    font-size: clamp(.35rem,1vw + .45rem, .6rem);
    li{
        display: flex;
        align-items: center;
        margin-block: .2rem;
        gap: .2rem;
        color: red;
        .exclamation{
            border-radius: 50%;
            padding: .1rem;
            font-size: 1rem;
            border: .001rem solid red;
        }
    }
}