$multi-use-color:#ff4500;
.list-aspect-ratio{
    aspect-ratio: 16/9;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(clamp(5rem,.5vw + 20rem, 25rem),1fr));
    gap: 2rem;
}
.grid-items{
    border-radius: .5rem;
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: background-size 200ms ease-in-out;
    background-color: $multi-use-color ;
        &:hover{
        background-size: 105%;
    }
}
.grid-link-items{
    min-width:100%;
    min-height: 100%;
    min-width: 100%;
    min-height: 100%;
    display: grid;
    align-items: end;
    padding: 0.2rem;
    border: 0.1rem solid $multi-use-color;
    border-radius: 0.5rem;
    box-shadow: inset 0px -15px 29px 16px #0b0b0b;
}