$secondary-bg :#0b0b0b;
$main-bg:#ff4400a1;
$icon-bg:#2c2c2c;
$gold:#ffd700;
.rating-container{
    position: absolute;
    border-radius: .5rem;
    width: max-content;
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .05rem;
    cursor: pointer;
    top: 6px;
    left: 6px ;
    background-color: $main-bg;
}
.rating-number{
    color: $secondary-bg;
}
.star{
    color: $gold;
    padding: .1rem;
}